.stepperWrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  padding: $defaultPadding * 4;
  overflow: scroll;

  .textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $defaultUnit * 7;
    .title {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      color: $accentTextColor;
      margin-bottom: $defaultUnit;
    }

    .subtitle {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $accentTextColor;
      margin-bottom: $defaultUnit;
    }
  }
  .textSectionVertical{
      align-items: center;
  }

  .horizontal {
    display: flex;
    flex-direction: row;
  }
  .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
