$headingColor: #56b5a7;
$backgroundColor: #ffffff;
$primaryColor: #2ca8ff;
$secondaryColor: #0fc440;
$defaultBorderRadius: 10px;
$defaultPadding: 8px;
$accentTextColor: #ffffff;
$disabledTextColor: #292929;