@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
.bubbleWrapper {
  width: 320px;
  height: fit-content;
  display: "flex";
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 200;
  position: relative; }
  .bubbleWrapper .title {
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .bubbleWrapper .title span {
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase; }
  .bubbleWrapper .content {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.defaultBubble {
  background-color: #0fc440; }
  .defaultBubble .title span {
    color: #ffffff; }
  .defaultBubble .content {
    background-color: #ffffff; }

.headingBubble {
  width: 120px;
  background-color: #56b5a7; }
  .headingBubble .title {
    padding: 0;
    justify-content: center; }
    .headingBubble .title span {
      color: #ffffff; }
  .headingBubble .content {
    background-color: #ffffff; }

.completedBubble {
  background-color: #2ca8ff; }
  .completedBubble .title span {
    color: #ffffff; }
  .completedBubble .content {
    background-color: #ffffff; }

.bubbleContentListWrapper {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .bubbleContentListWrapper ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%; }
    .bubbleContentListWrapper ul li {
      display: flex;
      padding-bottom: 4px;
      cursor: pointer; }
      .bubbleContentListWrapper ul li .icon {
        width: 30px; }
    .bubbleContentListWrapper ul li:first-child {
      padding-top: 8px; }
    .bubbleContentListWrapper ul li:last-child {
      padding-bottom: 8px; }
    .bubbleContentListWrapper ul li.completedItem {
      color: #2ca8ff;
      background-color: rgba(44, 168, 255, 0.1); }
    .bubbleContentListWrapper ul li.completedItem:last-child {
      padding-bottom: 8px; }
    .bubbleContentListWrapper ul li.currentItem {
      color: #0fc440;
      font-weight: 600;
      padding-top: 8px;
      padding-bottom: 4px; }
    .bubbleContentListWrapper ul li.disabledItem {
      cursor: auto;
      color: #292929; }

.completedBubbleContentList {
  background-color: #2ca8ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff; }

.collapsibleBubbleWrapper {
  min-width: 150px; }
  .collapsibleBubbleWrapper .firstBubbleExpandedLine {
    position: relative;
    left: -30px; }
  .collapsibleBubbleWrapper .lineWrapper {
    width: 100%;
    display: flex;
    align-content: center; }
    .collapsibleBubbleWrapper .lineWrapper .line {
      height: 3px;
      width: 50%;
      opacity: 0.25;
      box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2), inset 0 0 3px 0 rgba(41, 41, 41, 0.25);
      top: 16.5px;
      z-index: 100;
      position: relative;
      background-color: #ffffff; }
    .collapsibleBubbleWrapper .lineWrapper .lineNoOpacity {
      opacity: 1; }
    .collapsibleBubbleWrapper .lineWrapper .noLine {
      opacity: 0; }
  .collapsibleBubbleWrapper .circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2); }
  .collapsibleBubbleWrapper .circle-completed {
    background-color: #2ca8ff;
    color: #ffffff;
    cursor: pointer; }
  .collapsibleBubbleWrapper .circle-current {
    background-color: #0fc440;
    color: #ffffff;
    cursor: pointer; }
  .collapsibleBubbleWrapper .circle-disabled {
    background-color: #ffffff;
    color: #292929; }
  .collapsibleBubbleWrapper .circleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff; }
    .collapsibleBubbleWrapper .circleWrapper .positionIcon {
      position: absolute;
      top: -30px; }
    .collapsibleBubbleWrapper .circleWrapper .textWrapper {
      opacity: 0.5;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-top: 8px; }
      .collapsibleBubbleWrapper .circleWrapper .textWrapper .icon {
        margin-right: 5px; }
    .collapsibleBubbleWrapper .circleWrapper .currentStep {
      opacity: 1; }
  .collapsibleBubbleWrapper .currentStepNotExpandedCircle {
    position: relative; }
  .collapsibleBubbleWrapper .currentStepExpanded {
    position: relative;
    top: -30px; }
    .collapsibleBubbleWrapper .currentStepExpanded .circle {
      position: relative;
      top: -10px;
      left: 30px;
      background-color: #ffffff;
      color: #0fc440; }

.firstBubbleExpanded {
  width: 350px;
  position: relative;
  left: 30px; }

.stepperWrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  padding: 32px;
  overflow: scroll; }
  .stepperWrapper .textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 56px; }
    .stepperWrapper .textSection .title {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 8px; }
    .stepperWrapper .textSection .subtitle {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 8px; }
  .stepperWrapper .steps {
    display: flex;
    flex-direction: row; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.description {
  padding: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #292929; }
