@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
.bubbleWrapper {
  width: 320px;
  height: fit-content;
  display: "flex";
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 200;
  position: relative; }
  .bubbleWrapper .title {
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .bubbleWrapper .title span {
      font-family: Montserrat;
      font-size: 10px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase; }
  .bubbleWrapper .content {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.defaultBubble {
  background-color: #0fc440; }
  .defaultBubble .title span {
    color: #ffffff; }
  .defaultBubble .content {
    background-color: #ffffff; }

.headingBubble {
  width: 120px;
  background-color: #56b5a7; }
  .headingBubble .title {
    padding: 0;
    justify-content: center; }
    .headingBubble .title span {
      color: #ffffff; }
  .headingBubble .content {
    background-color: #ffffff; }

.completedBubble {
  background-color: #2ca8ff; }
  .completedBubble .title span {
    color: #ffffff; }
  .completedBubble .content {
    background-color: #ffffff; }

.bubbleContentListWrapper {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .bubbleContentListWrapper ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%; }
    .bubbleContentListWrapper ul li {
      display: flex;
      padding-bottom: 4px;
      cursor: pointer; }
      .bubbleContentListWrapper ul li .icon {
        width: 30px; }
    .bubbleContentListWrapper ul li:first-child {
      padding-top: 8px; }
    .bubbleContentListWrapper ul li:last-child {
      padding-bottom: 8px; }
    .bubbleContentListWrapper ul li.completedItem {
      color: #2ca8ff;
      background-color: rgba(44, 168, 255, 0.1); }
    .bubbleContentListWrapper ul li.completedItem:last-child {
      padding-bottom: 8px; }
    .bubbleContentListWrapper ul li.currentItem {
      color: #0fc440;
      font-weight: 600;
      padding-top: 8px;
      padding-bottom: 4px; }
    .bubbleContentListWrapper ul li.disabledItem {
      cursor: auto;
      color: #292929; }

.completedBubbleContentList {
  background-color: #2ca8ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff; }

.collapsibleBubbleWrapper .firstBubbleExpandedLine {
  position: relative;
  left: -30px; }

.collapsibleBubbleWrapper .lineWrapper {
  display: flex;
  z-index: 100; }
  .collapsibleBubbleWrapper .lineWrapper .lineOpacity {
    opacity: 0.25; }
  .collapsibleBubbleWrapper .lineWrapper .lineNoOpacity {
    opacity: 1; }
  .collapsibleBubbleWrapper .lineWrapper .noLine {
    opacity: 0; }

.collapsibleBubbleWrapper .horizontalLineWrapper {
  align-content: center;
  width: 100%; }
  .collapsibleBubbleWrapper .horizontalLineWrapper .horizontalLine {
    height: 3px;
    width: 50%;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2), inset 0 0 3px 0 rgba(41, 41, 41, 0.25);
    top: 16.5px;
    position: relative;
    background-color: #ffffff; }

.collapsibleBubbleWrapper .verticalLineWrapper {
  flex-direction: column;
  align-items: center;
  height: 60px;
  position: relative;
  left: 50%; }
  .collapsibleBubbleWrapper .verticalLineWrapper .verticalLine {
    width: 3px;
    height: 50%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2), inset 0 0 3px 0 rgba(41, 41, 41, 0.25); }

.collapsibleBubbleWrapper .circle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.35), 0 2px 22px 0 rgba(0, 0, 0, 0.2); }

.collapsibleBubbleWrapper .circle-completed {
  background-color: #2ca8ff;
  color: #ffffff;
  cursor: pointer; }

.collapsibleBubbleWrapper .circle-current {
  background-color: #0fc440;
  color: #ffffff;
  cursor: pointer; }

.collapsibleBubbleWrapper .circle-disabled {
  background-color: #ffffff;
  color: #292929; }

.collapsibleBubbleWrapper .circleWrapper {
  display: flex;
  color: #ffffff; }
  .collapsibleBubbleWrapper .circleWrapper .textWrapper {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
    .collapsibleBubbleWrapper .circleWrapper .textWrapper .icon {
      margin-right: 5px; }
  .collapsibleBubbleWrapper .circleWrapper .currentStep {
    opacity: 1; }
  .collapsibleBubbleWrapper .circleWrapper .vertical {
    width: 0px; }
    .collapsibleBubbleWrapper .circleWrapper .vertical div {
      width: 120px;
      position: relative;
      left: 55px; }

.collapsibleBubbleWrapper .horizontalCircleWrapper {
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .collapsibleBubbleWrapper .horizontalCircleWrapper .positionIcon {
    position: absolute;
    top: -30px; }

.collapsibleBubbleWrapper .verticalCircleWrapper {
  align-content: center;
  justify-items: center;
  flex-direction: row;
  align-items: center; }
  .collapsibleBubbleWrapper .verticalCircleWrapper .textWrapper {
    margin-top: 0px;
    position: relative;
    left: 16px;
    text-align: left; }
  .collapsibleBubbleWrapper .verticalCircleWrapper .positionIcon {
    position: absolute;
    top: 5px;
    left: -30px;
    transform: rotate(-90deg); }
  .collapsibleBubbleWrapper .verticalCircleWrapper .iconWrapper {
    width: 0px;
    position: relative;
    left: -20px;
    display: flex;
    align-items: center;
    opacity: 0.5; }

.collapsibleBubbleWrapper .currentStepNotExpandedCircle {
  position: relative; }

.collapsibleBubbleWrapper .currentStepExpandedHorizontal {
  position: relative;
  top: -30px; }
  .collapsibleBubbleWrapper .currentStepExpandedHorizontal .circle {
    position: relative;
    top: -10px;
    left: 30px;
    background-color: #ffffff;
    color: #0fc440; }

.collapsibleBubbleWrapper .currentStepExpandedVertical .circleWrapper {
  height: 0px; }
  .collapsibleBubbleWrapper .currentStepExpandedVertical .circleWrapper .circle {
    position: relative;
    left: -40px;
    background-color: #ffffff;
    color: #0fc440; }

.firstBubbleExpanded {
  width: 350px;
  position: relative;
  left: 30px; }

.firstBubbleExpandedVertical {
  margin-top: 20px; }
  .firstBubbleExpandedVertical .lineWrapper {
    top: -20px; }

.collapsibleBubbleWrapperHorizontal {
  min-width: 150px; }

.collapsibleBubbleWrapperHorizontalExpanded {
  width: 320px; }

.collapsibleBubbleWrapperVertical {
  min-height: 50px;
  display: flex;
  align-items: center; }

.stepperWrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  padding: 32px;
  overflow: scroll;
  align-items: center; }
  .stepperWrapper .textSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 56px; }
    .stepperWrapper .textSection .title {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 8px; }
    .stepperWrapper .textSection .subtitle {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 8px; }
  .stepperWrapper .textSectionVertical {
    align-items: center; }
  .stepperWrapper .horizontal {
    display: flex;
    flex-direction: row; }
  .stepperWrapper .vertical {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .stepperWrapper .expandCollapseWrapper {
    margin-top: 8px; }
    .stepperWrapper .expandCollapseWrapper span {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      cursor: pointer; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.description {
  padding: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #292929; }
